* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  background-color: blue;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: rgb(228, 228, 2);
  position: fixed;
  top: 0;
  left: 0;
  height: 95vh;
  width: 200px;
}

main {
  margin-left: 200px;
  display: flex;
  height: 95vh;
}

footer p {
  text-align: right;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

.contact {
  background-color: white;
  border: 3px solid black;
  padding: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100px;
}

.intro {
  background-color: rgb(178, 178, 199);
  padding: 50px 50px;
  position: relative;
}
.intro .center {
  text-align: center;
}

.work {
  background-color: rgb(226, 153, 17);
  padding: 50px 50px;
}

nav ul {
  list-style: none;
  height: 50vh;
  display: inline-block;
}
nav ul li {
  background-color: white;
  border: 3px solid black;
  margin: 45px 0;
  text-align: center;
  padding: 8px;
}
nav ul li:hover {
  background-color: blueviolet;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.tech-stack ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.portfolio ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.justify {
  text-align: justify;
}

/* social-media-logos side by side*/
.logo-sidebyside {
  display: inline-block;
  margin: 0;
}
.xing {
  position: relative;
  left: 35%;
}

.linkedin {
  position: relative;
  left: 45%;
}

figure {
  margin: 0;
}

figcaption {
  visibility: hidden;
  font-size: 7%;
}
