* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  background-color: blue;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: rgb(228, 228, 2);
  position: fixed;
  top: 0;
  left: 0;
  height: 95vh;
  width: 200px;
}

main {
  margin-left: 200px;
  display: flex;
  height: 95vh;
}

footer p {
  text-align: right;
}

.intro {
  background-color: rgb(178, 178, 199);
}

.work {
  background-color: rgb(226, 153, 17);
}

nav ul {
  list-style: none;
  height: 50vh;
  display: inline-block;
}
nav ul li {
  background-color: white;
  border: 3px solid black;
  margin: 45px 0;
  text-align: center;
  padding: 8px;
}
nav ul li:hover {
  background-color: blueviolet;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.tech-stack ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.portfolio ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo {
  display: inline-block;
  margin: 0;
}
figcaption {
  visibility: hidden;
}
